img {
  height: 54px;
  width: 80px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
  border-radius: 5px;
}

.bi:hover {
  color: #B0BEC5;
}

.book-btn {
  background-color: #bbc3ca; /* Lighter gray-blue */
  color: #363e44;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.book-btn:hover {
  background-color: #49545d; /* Slightly darker on hover */
  color: white;
  transform: scale(1.01); /* Slight zoom effect */
}
