<div class="modal-header  pb-1">
  <h5 class="modal-title fw-semibold text-black">
    @if (isLoginMode()) { Login } @else { Register }
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body px-4" style="max-height: 550px; overflow-y: auto;">
  @let form = isLoginMode() ? loginForm : registerForm;
  <form [formGroup]="form">
    @if (!isLoginMode()) {
      <div class="mb-3">
        <label for="username" class="form-label small">Username</label>
        <input type="text" formControlName="username" placeholder="enter username" class="form-control form-control-sm bg-light"
               [class.is-invalid]="registerForm.controls.username.invalid && registerForm.controls.username.touched">
        @if (registerForm.controls.username.touched) {
          <div class="text-danger small mt-1">
            @if(registerForm.controls.username.hasError('required')) { <small>Username is required.</small> }
            @if(registerForm.controls.username.hasError('minlength')) { <small>Min 3 characters required.</small> }
            @if(registerForm.controls.username.hasError('maxlength')) { <small>Max 20 characters allowed.</small> }
            @if(registerForm.controls.username.hasError('usernameTaken')) { <small>Username is not available.</small> }
          </div>
        }
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="firstName" class="form-label small">First Name</label>
          <input type="text" formControlName="firstName" placeholder="enter first name" class="form-control form-control-sm bg-light "
                 [class.is-invalid]="registerForm.controls.firstName.invalid && registerForm.controls.firstName.touched">
          @if (registerForm.controls.firstName.touched) {
            <div class="text-danger small mt-1">
              @if(registerForm.controls.firstName.hasError('required')) { <small>First name is required.</small> }
              @if(registerForm.controls.firstName.hasError('minlength')) { <small>Min 2 characters required.</small> }
              @if(registerForm.controls.firstName.hasError('maxlength')) { <small>Max 50 characters allowed.</small> }
            </div>
          }
        </div>
        <div class="col mb-3">
          <label for="lastName" class="form-label small">Last Name</label>
          <input type="text" formControlName="lastName" placeholder="enter last name" class="form-control form-control-sm bg-light "
                 [class.is-invalid]="registerForm.controls.lastName.invalid && registerForm.controls.lastName.touched">
          @if (registerForm.controls.lastName.touched) {
            <div class="text-danger small mt-1">
              @if(registerForm.controls.lastName.hasError('required')) { <small>Last name is required.</small> }
              @if(registerForm.controls.lastName.hasError('minlength')) { <small>Min 2 characters required.</small> }
              @if(registerForm.controls.lastName.hasError('maxlength')) { <small>Max 50 characters allowed.</small> }
            </div>
          }
        </div>
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label small">Phone Number</label>
        <input type="text" formControlName="phoneNumber" placeholder="enter phone number" class="form-control form-control-sm bg-light "
               [class.is-invalid]="registerForm.controls.phoneNumber.invalid && registerForm.controls.phoneNumber.touched">
        @if (registerForm.controls.phoneNumber.touched) {
          <div class="text-danger small mt-1">
            @if(registerForm.controls.phoneNumber.hasError('required')) { <small>Phone number is required.</small> }
            @if(registerForm.controls.phoneNumber.hasError('pattern')) { <small>Enter a valid phone number.</small> }

          </div>
        }
      </div>
      <div class="mb-3">
        <label for="email" class="form-label small">Email</label>
        <input type="email" formControlName="email" placeholder="enter email" class="form-control form-control-sm bg-light "
               [class.is-invalid]="registerForm.controls.email.invalid && registerForm.controls.email.touched">
        @if (registerForm.controls.email.touched) {
          <div class="text-danger small mt-1">
            @if(registerForm.controls.email.hasError('required')) { <small>Email is required.</small> }
            @if(registerForm.controls.email.hasError('email')) { <small>Enter a valid email.</small> }
            @if(registerForm.controls.email.hasError('emailTaken')) { <small>Email address is already in use.</small> }
          </div>
        }
      </div>
    }

    @if(isLoginMode()) {
      <div class="mb-3">
        <label for="email" class="form-label small">Email</label>
        <input type="email" formControlName="email" placeholder="enter email" class="form-control form-control-sm bg-light "
               [class.is-invalid]="loginForm.controls.email.invalid && loginForm.controls.email.touched">
        @if (loginForm.controls.email.touched) {
          <div class="text-danger small mt-1">
            @if(loginForm.controls.email.hasError('required')) { <small>Email is required.</small> }
            @if(loginForm.controls.email.hasError('email')) { <small>Enter a valid email.</small> }
          </div>
        }
      </div>
    }

    <div class="mb-3">
      <label for="password" class="form-label small">Password</label>
      <input type="password" formControlName="password" placeholder="enter password" class="form-control form-control-sm bg-light "
             [class.is-invalid]="registerForm.controls.password.invalid && registerForm.controls.password.touched">
      @if (registerForm.controls.password.touched) {
          <div class="text-danger small mt-1">
            @if(registerForm.controls.password.hasError('required')) { <small>Password is required.</small> }
            @if(registerForm.controls.password.hasError('pattern')) {
              <small>Password must contain:
                <ul class="mb-0">
                  <li>At least 1 uppercase letter (A-Z)</li>
                  <li>At least 1 lowercase letter (a-z)</li>
                  <li>At least 1 number (0-9)</li>
                  <li>At least 1 special character (e.g. #, $, !)</li>
                  <li>Minimum 6 characters</li>
                </ul>
              </small> }
          </div>
      }
    </div>

    @if (!isLoginMode()) {
      <div class="mb-3">
        <label for="confirmPassword" class="form-label small">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" placeholder="confirm password" class="form-control form-control-sm bg-light "
               [class.is-invalid]="registerForm.controls.confirmPassword.invalid && registerForm.controls.confirmPassword.touched">
        @if (registerForm.controls.confirmPassword.touched && registerForm.hasError('passwordsMismatch')) {
          <div class="text-danger small mt-1 mb-2">Passwords do not match.</div>
        }
      </div>
    }

    @if (isLoginMode() && loginForm.controls.password.hasError('invalidCredentials')) {
      <div class="text-danger small mt-1 mb-3">Invalid email or password.</div>
    }

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-secondary btn-sm rounded-3 px-3" (click)="toggleMode()">
        @if (isLoginMode()) { Create Account } @else { Back to Login }
      </button>
      <button type="submit" class="btn btn-dark btn-sm rounded-3 px-3 d-flex align-items-center gap-2"
              [disabled]="form.invalid || isLoading()"
              (click)="isLoginMode() ? onLogin() : onRegister()">
        @if (isLoading()) {
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span>@if (isLoginMode()) { Logging in... } @else { Registering... }</span>
        } @else {
          <span>@if (isLoginMode()) { Login } @else { Register }</span>
        }
      </button>
    </div>
  </form>
</div>
