<div class="position-relative">
  <div class="modal-header">
    <h5 class="modal-title">Confirm logout</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <i class="bi bi-box-arrow-right"></i>
    Are you sure you want to logout ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()" [disabled]="isLoggingOut()">Cancel</button>
    <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="onLogout()" [disabled]="isLoggingOut()">
      <span class="spinner-border spinner-border-sm" role="status" [hidden]="!isLoggingOut()"></span>
      <span>{{ isLoggingOut() ? 'Logging out...' : 'Yes' }}</span>
    </button>
  </div>
</div>

