<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content p-3">
      <div class="modal-header">
        @if(onEdit) {
          <h5 class="modal-title">EDIT GUESTHOUSE DETAILS</h5>
        }
        @if(onNew) {
          <h5 class="modal-title">ADD NEW GUESTHOUSE</h5>
        }
        <button type="button" class="btn-close" (click)="onCloseModal()"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="guesthouseForm" class="p-4 rounded" style="background: #e9ecef;">
          @if(onEdit) {
            <h2 class="text-center text-dark">{{ guesthouseName }}</h2>
          }
          @if(onNew) {
            <h2 class="text-center text-dark">Fill the details</h2>
          }

          <div class="mb-3">
            @if(onEdit) {
              <label for="id" class="form-label">ID</label>
              <input id="id" type="number" [formControl]="guesthouseForm.controls.id" readonly class="form-control" />
            }
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" formControlName="name" class="form-control"
                   [class.is-invalid]="guesthouseForm.controls.name.invalid && guesthouseForm.controls.name.touched" />
            @if(guesthouseForm.controls.name.invalid && guesthouseForm.controls.name.touched) {
              <div class="text-danger small mt-1">
                @if(guesthouseForm.controls.name.errors?.['required']) { <small>Name is required.</small> }
                @if(guesthouseForm.controls.name.errors?.['maxlength']) { <small>Max 20 characters allowed.</small> }
              </div>
            }
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" formControlName="description" class="form-control"
                      [class.is-invalid]="guesthouseForm.controls.description.invalid && guesthouseForm.controls.description.touched"></textarea>
            @if(guesthouseForm.controls.description.invalid && guesthouseForm.controls.description.touched) {
              <div class="text-danger small mt-1">
                @if(guesthouseForm.controls.description.errors?.['required']) { <small>Description is required.</small> }
                @if(guesthouseForm.controls.description.errors?.['maxlength']) { <small>Max 20 characters allowed.</small> }
              </div>
            }
          </div>
          @if( (submitErrorMsg || submitErrorMsg) && guesthouseForm.invalid) {
            <div class="alert alert-danger text-center">
              Please fill out all required fields correctly!
            </div>
          }
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="onCloseModal()">Cancel</button>
            @if(onEdit) {
              <button type="button" class="btn btn-success" (click)="onSave(true)">Save</button>
            }
            @if(onNew) {
              <button type="button" class="btn btn-success" (click)="onSubmit(true)">Submit</button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
