.bi:hover {
  color: #B0BEC5;
}

.book-btn {
  background-color: #bbc3ca; /* Lighter gray-blue */
  color: #363e44;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.book-btn:hover {
  background-color: #49545d; /* Slightly darker on hover */
  color: white;
  transform: scale(1.01); /* Slight zoom effect */
}
