<div class="guesthouse-list-content">

  <div class="container-fluid rounded shadow-sm p-3 my-3" style="background-color: #CFD8DC;">
    <div class="row d-flex align-items-center">
      <div class="col">
        <button class="btn btn-outline-secondary" (click)="openNewGuesthouseModal()">+ New</button>
        <button class="btn book-btn ms-2 px-4 py-2" (click)="showRecentlyAdded()"><i class="bi bi-sliders"></i> Recently added</button>
      </div>
      <div class="col fw-bold text-shadow" style="font-size: 20px; color: #424242;">MANAGE GUESTHOUSES</div>
      <div class="col">
        <div class="input-group" (input)="onSearchGuesthouse()">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
          </button>
          <input type="text" class="form-control bg-secondary-subtle border-secondary" placeholder="Search.." [(ngModel)]="search">
        </div>
      </div>
    </div>
  </div>

  @if(isLoading()) {
    <div class="container-fluid bg-white rounded shadow-sm p-3 my-2">
      <div class="row py-2">
        <div class="col-md-4 offset-md-4 text-center">Guesthouse data is loading, please be patient....</div>
      </div>
    </div>
  }
  @else {
    <div class="container-fluid bg-white rounded shadow-sm p-3 my-2">
      <!-- Guesthouse-Menu Rows -->
      <div class="row d-flex align-items-center text-shadow py-2" style="font-size: 19px;">
        <div class="col offset-md-1">
          ID
          <button class="btn btn-sm" type="button" (click)="sortById()">
            @if(idSort() === 'asc') {
              <i class="bi bi-arrow-down"></i>
            }
            @if (idSort() === 'desc'){
              <i class="bi bi-arrow-up"></i>
            } @else if(idSort() === null){
              <i class="bi bi-arrow-down-up"></i>
            }
          </button>
        </div>
        <div class="col">Rooms</div>
        <div class="col">
          Name
          <button class="btn btn-sm" type="button" (click)="sortByName()">
            @if(nameSort() === 'asc') {
              <i class="bi bi-arrow-down"></i>
            }
            @if (nameSort() === 'desc'){
              <i class="bi bi-arrow-up"></i>
            } @else if(nameSort() === null){
              <i class="bi bi-arrow-down-up"></i>
            }
          </button>
        </div>
        <div class="col">Description</div>
        <div class="col ms-4">Actions</div>
      </div>

      <hr class="my-3 shadow-sm" style="height: 3px; background-color: #333;">

      <!-- Guesthouse Rows -->
      @for (g of filteredGuesthouses | paginate: { itemsPerPage: itemsPerPage(), currentPage: page }; track g.id) {
        <div class="row d-flex align-items-center py-1">
          <div class="col offset-md-1">#{{ g.id }}</div>
          <div class="col">
            <button class="btn btn-outline-secondary" [routerLink]="['/admin/room/guesthouse', g.id]">
              <i class="bi bi-door-open"></i>
            </button>
          </div>
          <div class="col">{{ g.name!.length > 20 ? (g.name | slice:0:20) + '...' : g.name }}</div>
          <div class="col">{{ g.description!.length > 30 ? (g.description | slice:0:30) + '...' : g.description }}</div>
          <div class="col ms-4">
            <button class="btn btn-outline-success btn-sm rounded-circle" [disabled]="updatingId() === g.id" (click)="openEditModal(g)">
              @if (updatingId() === g.id) {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              } @else {
                <i class="bi bi-pencil"></i>
              }
            </button>
            <button class="btn btn-outline-danger btn-sm rounded-circle ms-2" [disabled]="deletingId() === g.id" (click)="openDeleteModal(g.id, g.name!)">
              @if (deletingId() === g.id) {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              } @else {
                <i class="bi bi-trash"></i>
              }
            </button>
          </div>
        </div>
        <hr class="my-3">
      }
      @empty {
        <div class="container-fluid bg-white rounded shadow-sm p-3 my-2">
          <div class="row py-2">
            <div class="col-md-4 offset-md-4 text-center">No guesthouses to show. Please add one.</div>
          </div>
        </div>
      }
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center align-items-center flex-wrap mt-4 pagination-container">
      <pagination-controls (pageChange)="page = $event" class="pagination-controls mb-2"></pagination-controls>
      <div class="d-flex align-items-center ms-3 mb-2">
        <label class="me-2 text-secondary">Items per page:</label>
        <select #targetValue (change)="onItemsPerPageChange(targetValue.value)" class="items-per-page-dropdown">
          @for (option of perPageOptions; track option) {
            <option [value]="option" [selected]="option === itemsPerPage()">{{ option }}</option>
          }
        </select>
      </div>
    </div>
  }
</div>
