.bg-custom {
  background-color: #bbc3ca !important;
  color: #49545d;
  font-weight: bold;
}

.input-group {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.input-group button {
  background-color: white;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
}
