

p.text-muted {
  display: -webkit-box;
  -webkit-line-clamp: 1;  /* Number of lines before truncating */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.guesthouse-item {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.guesthouse-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.book-btn {
  background-color: #5a6872; /* Lighter gray-blue */
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.book-btn:hover {
  background-color: #49545d; /* Slightly darker on hover */
  transform: scale(1.05); /* Slight zoom effect */
}
