<div class="sidebar bg-dark text-white position-fixed vh-100"
     style="width: 250px; top: 65px; left: 0; padding-top: 10px;">
  <ul class="nav flex-column">
    @if (role === 'User') {
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-white fs-6 px-3 py-2" [routerLink]="['/user/bookings']">
          <i class="bi bi-bookmarks"></i> Bookings
        </a>
      </li>
    }
    @if (role === 'Admin') {
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-white fs-6  px-3 py-2" [routerLink]="['/admin/guesthouses']">
          <i class="bi bi-houses"></i> Guesthouses
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-white fs-6 px-3 py-2" [routerLink]="['/admin/users']">
          <i class="bi bi-person"></i> Users
        </a>
      </li>
    }
    @if (role === 'User') {
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-white fs-6 px-3 py-2" [routerLink]="['/user/profile']">
          <i class="bi bi-person"></i> Personal details
        </a>
      </li>
    }
  </ul>
</div>
