
/* Hero Section */
.hero {
  margin-top: 20px;
  min-height: 45%;
}

.dot-img:hover {
  transform: scale(1.2);
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
}

/* Welcome/Amenities Section img Styling */
.vh-60 {
  height: 60vh !important;
}


/* Mobile Optimization */
@media (max-width: 768px) {
  .float-img {
    width: 80px;
    display: none;
  }

  .hero h1 {
    font-size: 2.5rem;
  }
}
