
/* Navbar Links */
.navbar-nav .nav-link {
  font-size: 19px;
  color: white;
  padding: 10px 15px;
}

.nav-link i {
  font-size: 1.2rem;
  display: inline-block; /* Ensures transform works */
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover i {
  transform: scale(1.3); /* Slightly bigger on hover */
}
