<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <a class="navbar-brand">Admin Dashboard</a>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['guesthouses']">All Guesthouses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['users']">All Users</a>
        </li>

        <div class="border-start border-light opacity-50 mx-3 d-none d-md-block" style="height: 40px;"></div>

        @if(!islogged()) {
          <li class="nav-item">
          <a class="nav-link" (click)="openLoginModal()"><i class="bi bi-box-arrow-in-right"></i></a>
          </li>
        }
        @else if(islogged()) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']"><i class="bi bi-person"></i></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" (click)="openLogoutModal()"><i class="bi bi-box-arrow-right"></i></a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
